* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style-type: none;
}

hr {
  margin: 1rem auto;
}

.container-sm {
  min-height: 360px;
  padding: 1rem;
  box-shadow: 1px 1px 1px lightgray;
  background-color: #f3f4f6;
  margin: 1rem;
  border-radius: 5px;
}

.container-lg {
  min-height: 360px;
  background-color: #f3f4f6;
  box-shadow: 0 1px 1px lightgray;
  margin: 1rem 0;
  padding: 1rem 0;
}

.container-title {
  margin: 0 1rem 1rem;
}

.sub-heading {
  font-size: small;
  color: gray;
  font-weight: 500;
}

.show-component {
  padding: 0.3rem;
  font-weight: 600;
  background: linear-gradient(#333, #444);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


.show-component:hover {
  background: #666;
}

/* ----------------------------CARD------------------ */

.card-container {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  flex: 0 0 auto;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  max-width: 100%;
  box-shadow: 1px 1px 2px gray;
  border-radius: 5px;
  overflow: hidden;
  justify-content: space-between;
  background-color: white;
  margin: 1rem 0;
}

.card img:hover {
  opacity: 0.8;
}

.card-hz .card-header {
  display: flex;
  flex-basis: 70%;
}

.card-hz .card-header-img {
  object-fit: cover;
  flex-basis: 30%;
  width: 120px;
  height: 100px;
  border-radius: 0 3px 3px 0;
}

.card-b .card-header,
.card-t .card-header {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.card-b .card-header-img,
.card-t .card-header-img {
  object-fit: fill;
  width: 100%;
}

.card-b .card-body {
  display: block;
  padding: 0 1rem 0 1rem;
}

.card-t .card-header {
  display: grid;
  grid-template-columns: 1fr;
}

.card-t .card-header-img {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
}

.card-t .card-header-text {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
  color: white;
}

.card-t .sub-heading {
  color: rgb(211, 209, 209)
}

.card-t .card-body,
.card-h .card-body {
  display: block;
  padding: 1rem 1rem 0;
}


.card-header-text {
  flex-grow: 1;
  padding: 0.7rem 1rem;
  line-height: 1.7;
}

.card-body {
  font-size: small;
  color: gray;
  font-weight: 500;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.cta-icons {
  margin-left: auto
}

.card-btn {
  padding: 0.5rem;
  background-color: white;
  border: none;
}

.card-btn:hover {
  background-color: whitesmoke;
}

.card-btn-text {
  border-radius: 3px;
  font-weight: bold;
  color: blue;
}

.card-btn-icon {
  border-radius: 100%;
  width: 2rem;
}

/* ---------------------CHIPS-------------------- */

.chips {
  width: 350px;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 2px gray;
  background-color: white;
  padding: 0.5rem;
}

.chips-icon-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: solid 1px lightgray;
  padding: 3px;
  border-radius: 10px;
  width: max-content;
  margin-left: auto;
}

.chips-icon-container .chip-icon:hover {
  color: #737373;
}

.chips-icon-container .chip-icon.active {
  color: #737373;
}

.chips:hover {
  border-bottom: solid 2px black;
}

.chips-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-top: 0.5rem;
}

.chip {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1rem 0 0;
  background-color: #e5e5e5;
  padding: 0.3rem 0.5rem;
  border-radius: 20px;
  overflow-wrap: anywhere;
}

.chip:hover {
  background-color: #d4d4d4;
}

.chip-left-icon {
  margin-right: 0.3rem;
}

.chip-text {
  margin-right: 0.5rem;
  cursor: default;
  font-size: small;
  font-weight: 500;
}

.chip-dismiss:hover {
  color: #737373;
}

.input-new-chip {
  width: 50px;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  flex-grow: 1;
  order: 1;
}

.input-new-chip:focus {
  outline: none;
}

/* ----------------Drawer------------------- */

.drawer-main-container {
  display: grid;
  height: 300px;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  border: solid 1px #7c3aed;
}

.drawer {
  min-width: 250px;
  width: fit-content;
  max-width: 100%;
  background-color: white;
  grid-column: 1/2;
  grid-row: 1/4;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: min-width 0.2s;
}

.drawer-head:focus {
  outline: none;
}

.drawer-main-container .content {
  max-height: 100%;
  grid-column: 2/6;
  grid-row: 2/4;
  background-color: white;
  overflow-y: auto;
  padding: 1rem;
}

.drawer-main-container .header {
  grid-column: 2/ 6;
  grid-row: 1/2;
  height: 4rem;
}

.drawer.hide-drawer .drawer-head-text-container,
.drawer.hide-drawer .text,
.drawer.hide-drawer .notif-count,
.drawer.hide-drawer .sub-drawer-collapse {
  display: none;
}

.drawer.hide-drawer {
  width: fit-content;
  min-width: 10px;
}

.drawer.hide-drawer .main-drawer-collapse {
  margin: auto;
}

.drawer.hide-drawer .left-icon {
  margin-right: 0;
}


.drawer-list-main::-webkit-scrollbar {
  width: 2px;
  /* display: none; */
}

.drawer-list-main::-webkit-scrollbar-thumb {
  background-color: gray;
}



.drawer-head {
  display: flex;
  justify-content: space-between;
  background-color: #7c3aed;
  padding: 0 1rem;
  align-items: center;
  color: white;
  position: sticky;
  top: 0;
  flex: 0 0 4rem;
  user-select: none;
}

.drawer-head-sub-text {
  font-size: small;
  color: white;
}

.main-drawer-collapse {
  -webkit-appearance: none;
  background-color: inherit;
  color: white;
  border: none;
  cursor: pointer;
}

.drawer-list-main {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  flex: 1 0 0;
  overflow-y: auto;
}

.sub-drawer-collapse {
  margin-left: auto;
  -webkit-appearance: none;
  background-color: inherit;
  border: none;
}

.drawer-list-item {
  display: flex;
  padding: 0.5rem;
  border-radius: 3px;
  align-items: center;
  user-select: none;
}

.drawer-list-sub {
  flex-direction: column;
  align-items: start;
}

.drawer-list-sub .collapsed {
  display: none;
}

.drawer-head-sub {
  display: flex;
  padding: 0.5rem;
  border-radius: 3px;
  align-items: center;
  user-select: none;
}

.drawer-head-sub>* {
  pointer-events: none;
}

.drawer-list-sub .drawer-list {
  margin-left: 1rem;
}

.drawer-list-item .text {
  cursor: default;
}

.drawer-list-item:hover,
.drawer-head-sub:hover {
  background-color: #e5e7eb;
}

.drawer-list-item:active {
  background-color: #2563eb;
}

.drawer-list-item.selected {
  background-color: #93c5fd;
  color: #1e3a8a;
  font-weight: 600;
}

.drawer-list .left-icon,
.drawer-list i {
  margin-right: 2rem;
}



.drawer-list-item .notif-count {
  margin-left: auto;
  order: 1;
  font-size: small;
  font-weight: 500;
}

/* ----------------Header------------------- */
.header-container {
  display: inline-block;
  width: 600px;
  max-width: 90%;
  margin: 1rem;
  height: 400px;
  overflow-y: auto;
}


.header-container .content {
  padding: 1rem;

}

.header {
  min-width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: #7c3aed;
  color: white;
  flex-wrap: nowrap;
}

.header.header-sticky,
.header.header-short {
  position: sticky;
  top: 0;
}

.header-short {
  width: fit-content;
  min-width: 100%;
  transition: min-width 0.2s;
}

.header-short.scrolled {
  width: fit-content;
  min-width: 20%;
  border-radius: 0 0 1rem 0;
}

.header-short.scrolled .header-brand {
  display: none;
}

.header-button {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.header button {
  background-color: inherit;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}


.header .nav-toggle {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.header .header-brand {
  font-size: 1.1rem;
  flex-shrink: 1;
  margin-right: auto;
  cursor: default;
}



/* ----------------Badge------------------- */

.about-badge {
  font-weight: 600;
  margin: 1rem;
}

.icon-with-badge {
  position: relative;
  width: max-content;
  margin: 1rem;
}

.text-with-badge {
  position: relative;
  width: max-content;
  margin: 1rem;
}

.button-with-badge {
  position: relative;
  width: max-content;
  margin: 1rem;
}

.button-with-badge-toggle {
  position: relative;
  width: max-content;
  margin: 1rem;
}

.btn-badge,
.btn-badge-toggle {
  padding: 0.3rem;
  font-weight: 600;
  background: linear-gradient(#60a5fa, #3b82f6);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-badge-toggle {
  background: linear-gradient(#cbd5e1, #94a3b8);
}

.btn-badge-hide {
  display: none;
}

.btn-badge:hover {
  background: #bfdbfe;
}

.btn-badge-toggle:hover {
  background: #e2e8f0;
}

.badge {
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 100%;
  padding: 0.2rem;
  background-color: lightgray;
  font-size: x-small;
  font-weight: 600;
}

/* ----------------SnackBar------------------- */

.snackbar {
  display: none;
  align-items: center;
  background-color: #333;
  width: max-content;
  min-width: 60vw;
  max-width: 95vw;
  padding: 1rem;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  box-shadow: 1px 1px 2px gray;
}

.snackbar.snackbar-leading {
  left: 10px;
  bottom: 10px;
  min-width: fit-content;
  transform: none;
}

.snackbar.snackbar-stacked {
  min-width: fit-content;
  width: fit-content;
  flex-direction: column;
}

.snackbar.snackbar-stacked .snackbar-btn-container {
  margin-left: auto;

}

.snackbar-message {
  margin-right: auto;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
}


.snackbar-btn {
  border: none;
  -webkit-appearance: none;
  background-color: inherit;
  margin: 0 1rem;
  font-weight: 600;
  cursor: pointer;
}

.snackbar.snackbar-stacked .snackbar-btn {
  margin-top: 1rem;
  margin-right: 0;
}

.snackbar-action {
  color: #6200ee;
}


.snackbar-dismiss {
  color: white;
}



/* ----------------Dialog------------------- */

.dialog {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  min-width: 250px;
  width: max-content;
  min-height: 200px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px lightgray;
  background-color: white;
  user-select: none;
}

.dialog-block {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(211, 211, 211, 0.753);

}

.dialog-simple {
  padding: 2rem;
}

.dialog-confirm {
  padding: 1rem 0;
}

.dialog-header {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.dialog-confirm .dialog-header {
  border-bottom: solid 0.5px lightgray;
  padding: 0 1rem 1rem;
  margin-bottom: 0;
}

.dialog-alert .dialog-text {
  font-weight: 500;
  color: slategray;
}


.dialog-btn-container-alert,
.dialog-btn-container-confirm {
  margin-left: auto;
  margin-top: auto;
  justify-self: flex-end;
}

.dialog-btn-container-simple {
  display: flex;
  flex-direction: column;
}

.dialog-confirm .dialog-options {
  padding: 0 1rem;
  font-weight: 600;
  height: 150px;
  overflow-y: auto;
  margin-bottom: 1rem;

}

.dialog-confirm .dialog-radio {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.dialog-confirm .dialog-radio:hover {
  background-color: rgb(233, 233, 233);
}

.dialog-confirm input[type="radio"] {
  transform: scale(1.5)
}

.dialog-btn {
  -webkit-appearance: none;
  padding: 0.5rem;
  border-radius: 2px;
  background: inherit;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  color: #6200ee;
  cursor: pointer;
}

.dialog-btn-container-simple .dialog-btn {
  display: flex;
  color: gray;
  align-items: center;
  gap: 1rem;
}

.dialog-btn:hover {
  background: rgb(233, 233, 233);
}

/* ----------------Tabs------------------- */

.tab-demo-container {
  display: grid;
  height: 300px;
  width: fit-content;
  grid-template-rows: min-content 1fr;
  border-radius: 20px;
  border: solid 2px lightgray;
  overflow: hidden;
}

.tabs-f {
  display: flex;
  grid-row: 1/2;
  user-select: none;
}

.body {
  display: none;
  margin-top: 1rem;
  background-position: center;
  background-size: cover;
  grid-row: 2/6;
}

#sbody-1,
#fbody-1 {
  display: block;
  background-image: url(https://picsum.photos/id/100/2500/1656);
}

#sbody-2,
#fbody-2 {
  background-image: url(https://picsum.photos/id/1003/1181/1772);
}

#sbody-3,
#fbody-3 {
  background-image: url(https://picsum.photos/id/101/2621/1747);
}

#sbody-4 {
  background-image: url(https://picsum.photos/id/1018/3914/2935);
}

#sbody-5 {
  background-image: url(https://picsum.photos/id/1020/4288/2848);
}

.tabs-s {
  display: flex;
  width: 200px;
  overflow: auto;
  user-select: none;
}

.tabs-s:hover {
  overflow: auto;
}

.tabs-s::-webkit-scrollbar {
  height: 5px;
}

.tabs-s::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: 2px;
}

.tabs-s:hover::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

.tab {
  min-width: max-content;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.tab:hover {
  background-color: #edeaf1;
  border-bottom: 1px solid #6200ee;
}

.tab.active {
  background-color: #edeaf1;
  border-bottom: 2px solid #6200ee;
}