* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style-type: none;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

hr {
  margin: 1rem auto;
}

.container-sm {
  width: min-content;
  min-width: max-content;
  max-width: 95vw;
  min-height: 360px;
  padding: 1rem;
  box-shadow: 1px 1px 1px lightgray;
  background-color: #f3f4f6;
  margin: 1rem;
  border-radius: 5px;
}

.sub-heading {
  font-size: small;
  color: gray;
  font-weight: 500;
}

/* ----------------------------CARD------------------ */

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  box-shadow: 1px 1px 2px gray;
  border-radius: 5px;
  overflow: hidden;
  justify-content: space-between;
  background-color: white;
  margin: 1rem;
}

.card-hz .card-header {
  display: flex;
  flex-basis: 70%;
}

.card-hz .card-header-img {
  object-fit: cover;
  flex-basis: 30%;
  width: 120px;
  height: 100px;
  border-radius: 0 3px 3px 0;
}

.card-b .card-header {
  display: flex;
  flex-direction: column;
  flex-basis: 50;
}

.card-b .card-header-img {
  object-fit: fill;
}

.card-b .card-body {
  display: block;
  padding: 0 1rem 0 1rem;
}

.card-header-text {
  flex-grow: 1;
  padding: 0.7rem 1rem;
  line-height: 1.7;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.card-btn {
  padding: 0.5rem;
  background-color: white;
  border: none;
}

.card-btn:hover {
  background-color: whitesmoke;
}

.card-btn-text {
  border-radius: 3px;
  font-weight: bold;
  color: blue;
}

.card-btn-icon {
  border-radius: 100%;
  width: 2rem;
}

/* ---------------------CHIPS-------------------- */

.chips {
  width: 350px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px gray;
  background-color: white;
  padding: 0.5rem;
}

.chips:hover {
  border-bottom: solid 2px black;
}

.chips-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-top: 0.5rem;
}

.chip {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1rem 0 0;
  background-color: #e5e5e5;
  padding: 0.3rem 0.5rem;
  border-radius: 20px;
  overflow-wrap: anywhere;
}

.chip:hover {
  background-color: #d4d4d4;
}

.chip-text {
  margin-right: 0.5rem;
  cursor: default;
  font-size: small;
  font-weight: 500;
}

.chip-dismiss:hover {
  color: #737373;
}

.input-new-chip {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  flex-grow: 1;
  order: 1;
}

.input-new-chip:focus {
  outline: none;
}

/* ----------------Drawer------------------- */

.drawer {
  width: 300px;
  background-color: white;
  padding: 1rem;
  box-shadow: 1px 1px 2px gray;
  max-height: 250px;
  overflow-y: auto;
}

.drawer .collapsed {
  display: none;
}

.drawer-head {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  position: relative;
}

.main-drawer-collapse {
  position: absolute;
  margin: 0.5rem;
  top: 0;
  right: 0;
  -webkit-appearance: none;
  background-color: white;
  border: none;
  cursor: pointer;
}

.drawer-list {
  display: flex;
  flex-direction: column;
}

.sub-drawer-collapse {
  margin-left: auto;
  -webkit-appearance: none;
  background-color: inherit;
  border: none;
}

.drawer-list-item {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
}

.drawer-list-sub {
  flex-direction: column;
  align-items: start;
}

.drawer-head-sub {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
}

.drawer-head-sub>* {
  pointer-events: none;
}

.drawer-list-sub .drawer-list {
  margin-left: 1rem;
}

.drawer-list-item .text {
  cursor: default;
}

.drawer-list-item:hover,
.drawer-head-sub:hover {
  background-color: #e5e7eb;
}

.drawer-list-item:active {
  background-color: #2563eb;
}

.drawer-list-item.selected {
  background-color: #93c5fd;
  color: #1e3a8a;
  font-weight: 600;
}

.drawer-list .left-icon,
.drawer-list i {
  margin-right: 2rem;
}

.drawer-list-item .notif-count {
  margin-left: auto;
  order: 1;
  font-size: small;
  font-weight: 500;
}

/* ----------------Header------------------- */

.header {
  min-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #7c3aed;
  color: white;
}

.header .header-brand {
  margin-right: auto;
  cursor: default;
}

.header button {
  background-color: inherit;
  -webkit-appearance: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  cursor: pointer;
  color: white;
}

.header .header-brand {
  font-size: larger;
}

/* ----------------Badge------------------- */

.about-badge {
  font-weight: 600;
  margin: 1rem;
}

.icon-with-badge {
  position: relative;
  width: max-content;
  margin: 1rem;
}

.text-with-badge {
  position: relative;
  width: max-content;
  margin: 1rem;
}

.button-with-badge {
  position: relative;
  width: max-content;
  margin: 1rem;
}

.button-with-badge-toggle {
  position: relative;
  width: max-content;
  margin: 1rem;
}

.btn-badge,
.btn-badge-toggle {
  padding: 0.3rem;
  font-weight: 600;
  background: linear-gradient(#60a5fa, #3b82f6);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.btn-badge-toggle {
  background: linear-gradient(#cbd5e1, #94a3b8);
}

.btn-badge-hide {
  display: none;
}

.btn-badge:hover {
  background: #bfdbfe;
}

.btn-badge-toggle:hover {
  background: #e2e8f0;
}

.badge {
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 100%;
  padding: 0.2rem;
  background-color: lightgray;
  font-size: x-small;
  font-weight: 600;
}

/* ----------------SnackBar------------------- */

.show-snackbar {
  padding: 0.3rem;
  font-weight: 600;
  background: linear-gradient(#333, #444);
  color: white;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.show-snackbar:hover {
  background: #666;
}

.snackbar {
  display: none;
  align-items: center;
  background-color: #333;
  width: max-content;
  min-width: 60vw;
  max-width: 95vw;
  padding: 1rem;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.2rem;
  box-shadow: 1px 1px 2px gray;
}

.snackbar-message {
  margin-right: auto;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
}

.snackbar-btn {
  border: none;
  -webkit-appearance: none;
  background-color: inherit;
  margin: 0 1rem;
  font-weight: 600;
  cursor: pointer;
}

.snackbar-action {
  color: #6200ee;
}

.snackbar-dismiss {
  color: white;
}

/* ----------------Dialog------------------- */

.dialog {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  flex-direction: column;
  background: white;
  width: max-content;
  height: max-content;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 2px lightgray;
}

.dialog-header {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.dialog-text {
  font-weight: 500;
  color: slategray;
}

.dialog-btn-container-l {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 1.5rem;
  align-self: flex-end;
  gap: 0.5rem;
}

.dialog-btn-container-s {
  margin-left: 1rem;
  margin-top: 3rem;
  align-self: flex-end;
}

.dialog-btn {
  -webkit-appearance: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background: inherit;
  margin: 0 0 0 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  color: #6200ee;
  cursor: pointer;
}

.dialog-btn:hover {
  background: rgb(233, 233, 233);
}

/* ----------------Tabs------------------- */

.tabs-f {
  display: flex;
  margin-bottom: 1rem;
}

.tabs-s {
  display: flex;
  width: 200px;
  overflow: hidden;
}

.tabs-s:hover {
  overflow: auto;
}

.tabs-s::-webkit-scrollbar {
  height: 2px;
  /* display: none; */
}

.tabs-s::-webkit-scrollbar-thumb {
  background-color: gray;
}

.tab {
  min-width: max-content;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.tab:hover {
  background-color: #edeaf1;
  border-bottom: 1px solid #6200ee;
}

.tab.active {
  background-color: #edeaf1;
  border-bottom: 2px solid #6200ee;
}